VERSION
*.ko
*.cmd
*.o
*.mod.c
Module.symvers
modules.order
.tmp_versions
*~
ChangeLog
aclocal.m4
autom4te.cache
INSTALL
configure
config.log
config.h
config.status
stamp-h1
install-sh
missing
/Makefile
/Makefile.in
standalone/Makefile
standalone/drivers
standalone/include
standalone/modules
standalone/patched
standalone/series
standalone/mISDN.cfg
standalone/misdn.sed
standalone/mISDN.cfg.D
standalone/mISDN.cfg.M
standalone/misdn.configs
debian/misdn-dkms
debian/misdn-dkms.install
debian/autoreconf.after
debian/autoreconf.before
debian/files
debian/*.debhelper.log
debian/*.substvars
debian/*.dkms
debian/*.debhelper
