#!/usr/bin/make -f

SHELL := /bin/bash

DEB_VERSION := $(shell dpkg-parsechangelog | grep '^Version:' | cut -d' ' -f2 | cut -d\: -f2)

%:
	dh $@ --with dkms

override_dh_auto_configure:
	# Do nothing

override_dh_auto_build:
	sed -e "s|#DEB_VERSION#|$(DEB_VERSION)|" debian/misdn-dkms.dkms.in > debian/misdn-dkms.dkms
	cp mISDN.cfg.default standalone/mISDN.cfg
	for i in *; do [[ $$i != debian ]] && echo $$i "usr/src/misdn-$(DEB_VERSION)"; done > debian/misdn-dkms.install

override_dh_auto_test:
	# No tests to run.

override_dh_auto_install:
	# Nothing to install.
